---
# Setup vmware vms

- block:
    - include_tasks: vms_fact_basic.yml
      when: >-
        vmware_provisioner_gather_all_basic_vm_fact | bool
        and (vmware_provisioner_basic_vms_fact is not defined
             or vmware_provisioner_gather_all_basic_vm_fact_force | bool)

    - include_tasks: >-
        vms_fact_detailed_{{ vmware_provisioner_vms_provisioning_method }}.yml
      when: vmware_provisioner_vms | length > 0

    - block:
        - include_tasks: >-
            vms_{{ vmware_provisioner_vms_provisioning_method }}.yml

        - include_tasks: >-
            vms_disks_{{ vmware_provisioner_vms_provisioning_method }}.yml
          tags:
            - role::vmware_provisioner::vms::disks
      when:
        - vmware_provisioner_vms | length > 0
        - vmware_provisioner_provisione | bool
  tags:
    - role::vmware_provisioner
    - role::vmware_provisioner::vms
