{% set ns = namespace(found=false) %}
{% for r in vmware_provisioner_datastores_result.results %}
{% set datacenter = r.vmware_provisioner_cluster.datacenter %}
{% set cluster = r.vmware_provisioner_cluster.name %}

{% for d in r.datastores  %}
- name: {{ d.name | to_json }}
  datacenter: {{ datacenter }}
  cluster: {{ cluster }}
  total: {{ d.total | to_json }}
  free: {{ d.free | to_json }}
{% set ns.found = true %}
{% endfor %}
{% endfor %}

{% if not ns.found %}
[]
{% endif %}
