{% for result in vmware_provisioner_datacenters_result.results %}
{% for datacenter in result.json.value %}
- {{ datacenter
     | combine({"hostname": result.vmware_provisioner_vcenter_item })
     | to_json }}
{% endfor %}
{% endfor %}
