{% for result in vmware_provisioner_folders_result.results %}
- {{ result.folder_info
     | combine({"hostname": result.vmware_provisioner_datacenter_item.hostname})
     | combine({"datacenter": result.vmware_provisioner_datacenter_item.name})
     | to_json }}
{% endfor %}
